*
!*/

# 3. EXCEPCIONES: Lo que SÍ queremos en el repo
!.gitignore
!README.md
!**/compose.yml
!**/compose.yaml
!**/docker-compose.yml
!**/docker-compose.yaml
!**/compose.*.yml
!**/compose.*.yaml
!**/Caddyfile
!**/env.example
!**/*.env.example

!**/**/compose.yml
!**/**/compose.yaml
!**/**/docker-compose.yml
!**/**/docker-compose.yaml
!**/**/compose.*.yml
!**/**/compose.*.yaml
!**/**/Caddyfile
!**/**/env.example
!**/**/*.env.example
# 4. Reglas específicas para Traefik
!**/traefik/dynamic/
!**/traefik/dynamic/*.yml
!**/traefik/dynamic/*.yaml
!**/traefik.yml
!**/traefik.yaml

# 5. BLOQUEO EXTRA (Por si acaso alguna carpeta se quiere pasar de lista)
**/node_modules/
**/dist/
**/.next/
**/.git/
**/data/
**/volumes/
