SPARKY_FITNESS_DB_NAME=sparkyfitness_db
SPARKY_FITNESS_DB_USER=sparky
SPARKY_FITNESS_DB_PASSWORD=CHANGE_ME
SPARKY_FITNESS_APP_DB_USER=sparky_app
SPARKY_FITNESS_APP_DB_PASSWORD=CHANGE_ME
SPARKY_FITNESS_SERVER_HOST=sparkyfitness-server
SPARKY_FITNESS_SERVER_PORT=3010
SPARKY_FITNESS_FRONTEND_URL=https://sparky.example.com
SPARKY_FITNESS_LOG_LEVEL=ERROR
NODE_ENV=production
TZ=America/Santiago
SPARKY_FITNESS_API_ENCRYPTION_KEY=CHANGE_ME
JWT_SECRET=CHANGE_ME
SPARKY_FITNESS_DISABLE_SIGNUP=false
SPARKY_FITNESS_ADMIN_EMAIL=admin@example.com
SPARKY_FITNESS_FORCE_EMAIL_LOGIN=true
SPARKY_FITNESS_EMAIL_HOST=mail.example.com
SPARKY_FITNESS_EMAIL_PORT=465
SPARKY_FITNESS_EMAIL_SECURE=true # Use 'true' for TLS/SSL, 'false' for plain text
SPARKY_FITNESS_EMAIL_USER=no-reply@example.com
SPARKY_FITNESS_EMAIL_PASS=CHANGE_ME
SPARKY_FITNESS_EMAIL_FROM=no-reply@example.com
