SMTP_HOST: "mail.example.com"
SMTP_FROM: "vaultwarden@example.com"
SMTP_PORT: "587"
SMTP_SECURITY: "starttls"
SMTP_USERNAME: "vaultwarden@example.com"
SMTP_PASSWORD: "CHANGE_ME"
SSO_AUTHORITY: "https://your-sso-provider.example.com"
SSO_CLIENT_ID: "CHANGE_ME"
SSO_CLIENT_SECRET: "CHANGE_ME"
VAULTWARDEN_ADMIN_TOKEN="CHANGE_ME"
