PASSBOLT_DB_PASSWORD=CHANGE_ME
EMAIL_DEFAULT_FROM_NAME=example.com
EMAIL_DEFAULT_FROM=no-reply@example.com
EMAIL_TRANSPORT_DEFAULT_HOST=mail.example.com
EMAIL_TRANSPORT_DEFAULT_PORT=25
EMAIL_TRANSPORT_DEFAULT_USERNAME=no-reply@example.com
EMAIL_TRANSPORT_DEFAULT_PASSWORD=CHANGE_ME
EMAIL_TRANSPORT_DEFAULT_TLS=CHANGE_ME
