APP_HOST=excalidraw.example.com
ROOM_HOST=excalidraw-room.example.com 
STORAGE_BACKEND_HOST=excalidraw-storage.example.com 

TRAEFIK_LABEL_ID=excalidraw
TRAEFIK_NETWORK_NAME=proxy
TRAEFIK_ENTRYPOINT=https

DB_USER=mongodb_user
DB_PASS=CHANGE_ME
DB_VOLUME_PATH=./mongodb

MONGOEXPRESS_HOST=excalidraw-db.example.com
MONGOEXPRESS_USER=mongoexpress_user
MONGOEXPRESS_PASS=CHANGE_ME
