#Litellm
LITELLM_MASTER_KEY="CHANGE_ME"
LITELLM_SALT_KEY="CHANGE_ME"
POSTGRES_PASSWORD="CHANGE_ME"
SMTP_HOST="mail.example.com"
SMTP_TLS="True"
SMTP_PORT="587"
SMTP_USERNAME="no-reply@example.com"
SMTP_SENDER_EMAIL="no-reply@example.com"
SMTP_PASSWORD="CHANGE_ME"

#Openwebui
WEBUI_URL=https://openwebui.example.com
OAUTH_CLIENT_ID=CHANGE_ME
OAUTH_CLIENT_SECRET=CHANGE_ME
OAUTH_PROVIDER_NAME=YourProviderName
OPENID_PROVIDER_URL=https://your-oidc-provider.example.com/.well-known/openid-configuration
OAUTH_SCOPES="openid email profile"
ENABLE_OAUTH_SIGNUP=true
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
